.title {
  @include reset-margin-text;
  font-weight: 500;
  font-size: 45px;
  line-height: 60px;
  letter-spacing: 0.03em;
}


//Desktop Middle
@include desktop-middle {
  .title {
    font-size: 35px;
    line-height: 50px;
  }
}


//Desktop Small
@include desktop-small {
  .title {
    font-size: 29px;
    line-height: 140%;
  }
}


//Tablet
@include tablet {
  .title {
    font-size: 19px;
  }
}

