.preparations__title {
  margin-bottom: 60px;
  text-align: center;
  font-size: 45px;
  line-height: 53px;
}

.preparations__title-gold {
  color: $gold;
}

.preparations__wrapper {
  margin-bottom: 77px;
  overflow-x: scroll;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.preparations__table {
  width: 100%;
  padding-top: 25px;
  border-collapse: collapse;
  overflow-x: scroll;
}

.preparations__thead {
  background-color: $light-beige;
}

.preparations__tbody {
  background-color: $light-beige;
}

.preparations__caption {
  padding-left: $table-padding;
  margin-bottom: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.preparations__description {
  @include reset-margin-text;

  &--head {
    padding-left: 43px;
  }
}

.preparations__row {
  height: auto;
  @include transition;

  &--time {
    background-color: $light-beige;
  }

  &--closed {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.preparations__cell {
  padding-top: 4px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0 center;

  &:first-of-type {
    width: 42.1%;
    padding-left: $table-padding;
  }

  &:nth-of-type(2) {
    padding-right: 10px;
    width: 21%;
  }

  &:last-of-type {
    width: 18.5%;
  }

  &--head {
    padding-top: 28px;
    padding-bottom: 21px;
    color: $grey;
    font-weight: bold;
    font-size: 15px;
    line-height: 29px;

    &:first-of-type {
      background-position: 9% center;
    }
  }

  &--time {
    position: relative;
    @include padding-vertical(32px);
    @include before-after {
      right: 0;
      z-index: 10;
      width: 100%;
      height: 1px;
      background-color: $light-gold;
    }
    @include before-clean {
      top: -1px;
    }
    @include after-clean {
      bottom: 0;
    }

    &:first-of-type {
      @include before-after-clean {
        width: 93%;
      }
    }

    &:last-of-type {
      @include before-after-clean {
        right: auto;
        left: 0;
        width: 84%;
      }
    }
  }

  &--name {
    padding-top: 21px;
  }

  &--head-name {
    background-image: url('../img/svg/preparations/name.svg');
  }

  &--head-price {
    background-image: url('../img/svg/preparations/price.svg');
  }

  &--head-course {
    background-image: url('../img/svg/preparations/course.svg');
  }

  &--head-duration {
    background-image: url('../img/svg/preparations/duration.svg');
  }

  &--price,
  &--during {
    padding-left: 45px;
  }

  &--course {
    padding-left: 84px;
  }

  &--last {
    padding-bottom: 27px;
  }
}

.preparations__time-description {
  @include reset-margin-text;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: $gold;
}

.preparations__time {
  font-weight: normal;
  font-size: 14px;
  color: $grey;
}

.preparations__name {
  font-weight: bold;
}

.preparations__table-button {
  position: absolute;
  right: 23%;
  top: 47%;
  z-index: 10;
  @include reset-button;
  width: 23px;
  height: 23px;
  background-image: url('../img/svg/preparations/polygon.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 0;
  @include focus-opacity;
  @include transition;

  &--closed {
    top: 30%;
    transform: rotate(180deg);
  }
}


//Desktop Middle
@include desktop-middle {
  .preparations__table,
  .preparations__time-description,
  .preparations__cell--head {
    font-size: 14px;
    line-height: 160%;
  }

  .preparations__time {
    font-size: 12px;
  }

  .preparations__cell {
    &--head {
      background-size: 28px;

      &:first-of-type {
        background-position: 60px center;
      }
    }
  }
}


//Desktop Small
@include desktop-small {
  .preparations__table,
  .preparations__time-description,
  .preparations__cell--head {
    font-size: 10px;
  }

  .preparations__time {
    font-size: 8px;
  }

  .preparations__cell {
    &:first-of-type {
      padding-left: 40px;
    }

    &:last-of-type {
      padding-right: 40px;
    }

    &--head {
      padding-top: 20px;
      padding-bottom: 15px;
      background-size: 23px;

      &:first-of-type {
        background-position: 35px center;
      }
    }

    &--time {
      @include padding-vertical(20px);
    }

    &--name {
      padding-top: 12px;
    }

    &--last {
      padding-bottom: 12px;
    }
  }

  .preparations__description {
    &--head {
      padding-left: 30px;
    }
  }

  .preparations__caption {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 120%;
  }

  .preparations__wrapper {
    margin-bottom: 45px;
  }

  .preparations__title {
    margin-bottom: 40px;
  }

  .preparations__table-button {
    &--closed {
      top: 19%;
    }
  }
}


//Tablet
@include tablet {
  .preparations__table {
    width: 708px;
  }

  .preparations__table,
  .preparations__time-description,
  .preparations__cell--head {
    font-size: 8px;
  }

  .preparations__time {
    font-size: 7px;
  }

  .preparations__caption {
    margin-bottom: 15px;
    font-size: 12px;
  }

  .preparations__title {
    margin-bottom: 25px;
  }
}


//Mobile
@include mobile {
  .preparations__caption {
    padding-left: 0;
  }

  .preparations__cell {
    &:first-of-type {
      padding-left: 30px;
    }

    &--head {
      @include padding-vertical(10px);

      &:first-of-type {
        background-position: 25px center;
      }
    }

    &--time {
      @include padding-vertical(15px);
    }

    &--name {
      padding-top: 10px;
    }
  }

  .preparations__wrapper {
    margin-bottom: 25px;
  }

  .preparations__table-button {
    &--closed {
      top: 12%;
    }
  }

  .preparations__title {
    @include padding-mobile;
  }

  .preparations__caption {
    @include padding-mobile;
  }
}
