// Colors
$black: #232323;
$light-black: #474747;
$light-black-2: #575757;
$gold: #E8C46F;
$beige: #F4E9CF;

/* RGB/RGBA */


// Etc
$down-opacity: 40%;
$hover-opacity: 70%;
$transition-duration: 0.5s;
$hover-scale: 0.99;
$down-scale: 0.98;

